h1 {
    color: blue;
    text-align: center;

}

#count {
    font-size: 50px;
    color: red;
    text-align: center;

}

#button {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#button:hover {
    background-color: red;
    transition: 0.5s;

}
#pp {
    display: block;
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#pp:hover {
    background-color: purple;
    transition: 0.5s;

}
#error {
    color: red;
    text-align: center;
    font-size: 20px;

}
#add, #sub, #mul, #div {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background-color: lightgreen;

}
.cal{
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    

}
#num1, #num2 {
    font-size: 20px;
    padding: 5px;
    width: 100px;
    text-align: center;
    margin-left: 170px;
    border: 2px solid black;

}
#sum{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    background-color: lightblue;
    margin-left: 250px;
    margin-right: 200px;
    padding: 10px;
    display: flex;
   

}